/***STYLE***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 166, 0);
}

.my-borderb {
    border-bottom: 5px solid rgb(44, 25, 10);
}

.wlogo {
    width: 230px;
}

.wlogoform {
    margin-top: 200px !important;
    width: 500px;
    border-radius: 100%;
    box-shadow: 5px 2px 2px 2px whitesmoke;
}

.img-prod {
    width: 300px;
    height: 400px;
}

h1 {
    color: whitesmoke;
    font-size: 5rem;
    text-align: center !important;
    font-weight: bold;
}

.my-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 2px 2px 2px whitesmoke;
    position: relative;
    flex: 0 0 auto;
    margin: 10px;
    width: calc(100% / 3 - 20px);
}

.icon {
    position: absolute;
    width: 50px;
    top: 10px;
    right: 10px;
}

.info>* {
    padding-bottom: 0.2rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
}

.price {
    font-size: 1.1rem;
    color: red;
}

/***LOGGIN-PAGE***/
.form {
    background-color: rgb(255, 166, 0);
}

.inner-form {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}